.navber
    position: relative
    border: 1px solid
    display: flex
    align-items: center
.logo
    border: 1px solid
    &__text
        display: block
        color: $text-color
        text-transform: uppercase
        text-align: center
        padding-top: 20px
.expand
    padding-top: 20px
    border: 1px solid
    float: left
    &__button
        width: 100px

