header
    position: fixed
    margin: 0 auto

.navber
    display: block
    position: relative
    align-items: center
.logo
    &__text
        display: block
        color: $text-color
        text-transform: uppercase
        text-align: center
        padding-top: 20px
        font-size: 20px
.expand
    padding-top: 15px
    float: left
    &__button
        color: $text-color        
        width: 100px
        margin-left: 20px
.save
    padding-top: 15px
    float: left
    &__button
        margin-left: 20px        
        color: grey        

