.tree
    +bold
    font-size: 20px
    list-style-image: url('../img/marker3.png')

    &__leaf

    &__link
        +light
        text-decoration: none
    &__branch
        display: none
        &:hover
            cursor: pointer
        &-show
            display: block

